<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "../assets/images/images.jpg" %>
	</div>

	<div id="content">
		<h1>Welcome, this is Adoptly</h1>
		<p>This is a great website for adopting animals and finding out more about events.</p>
	</div>
</div>