/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* color for Adoptly: 
center button + font: #e52364
top nav bar: #30627e 
*/
/* * {border: 1px dashed gray;} */

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/* HEADER */ 
.header {
    height: 75px;
    background: #30627e;
    text-align: center;
}

.header .container {padding: 23px;}

.header ul {list-style-type: none;}

.header li {display: inline;}

.header a {
    color: white;
    padding: 0 40px 0 40px;
}

.header a:hover {
    text-decoration: none;
    color: #e52364;
    transition: .5s;
}

.header #adoptly {
    background: #e52364;
    padding: 32px 35px 26px 35px;
    font-size: 20px;
}

.header #adoptly:hover {color: #30627e}

/* JUMBOTRON */
.jumbotron {
    background: url(http://s3.amazonaws.com/codecademy-content/projects/adoptly/bg.jpg);
    background-size: cover;
    background-position: 10%;
    height: 600px;
}

.jumbotron h1 {
        text-align: center;
        color: #e52364;
        font-weight: 600;
}

/* Supporting */
.supporting {height: 250px;}

.col-md-4 {text-align: center;}

.col-md-4 p {
    font-size: 13px;
    height: 75px;
    margin-bottom: 30px;
}

.col-md-4 a {
    border: 1px solid #30627e;
    color: #30627e;
    padding: 10px 90px;
}

.col-md-4 a:hover {
    border: 1px solid #e52364;
    color: #e52364;
    text-decoration: none;
}

/* FOOTER */
.footer {
    background: #e52364;
    height: 75px;
    color: white;
    margin-top: 50px;
}

.row {padding-top: 30px;}

.footer a {
    padding: 0 5px;
    color: white;
    float: right;
    padding: 0 20px;
}

.footer a:hover {
    text-decoration: none;
    color: #30627e;
    transition: .5s;
}

